@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
box-sizing: border-box;
padding: 0;
margin: 0;
}
body{
    background: rgba(0,0,0,0.5);
    background-image: url(man.webp);
    background-size: 100% 670px;
    background-repeat: no-repeat;
}
.calculator{
    width: 28%;
    height: 520px;
    border: 12px solid black;
    background:rgba(248, 3, 3, 0.5);
    left:35%;
    top: 10%;
    display: inline-block;
    position: absolute;
}
.logo{
    width: 80%;
    height: 78px;
    background-color: rgba(80, 79, 79, 0.5)
}
.logo h1{
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
}
form{
    display: inline-block;
    width: 100%;
    height: 250px;
    /* border: 1px solid
     white; */
}

.from-box1{
    width: 90%;
    height: 40px;
    border: 1px solid black;
    /* background-color: white; */
    display: inline-block;
    margin-left: 17px;
}
.height-box{
    
    width: 35%;
    background-color: black;
    height: 40px;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    display: inline-block;
}
input{
    float: right;
    width: 65%;
    height: 40px;
    padding: 0px 9px;
    outline: none;
}
#btn{
    width: 55%;
    height:56px ;
    font-size: 25px;
    color: white;
    background-color: rgb(122, 201, 4);   
    display: block;
    border-radius: 5px;
    
}
#btn:hover{
    cursor: pointer;
    box-shadow: 2px 2px black;
}
abbr{
    text-decoration: none;
}
.fi-result{
    width: 100%;
    height: 135px;
    background:rgba(10, 10, 10, 0.5);
    border:1px solid white;
    margin-top: 5px;
}
.bmi-line{
    margin-top: 15px;
}